@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.custome-form-width {
    @media (min-width: 576px) {
        width: 30rem;
    }

    @media (max-width:575px) {
        width: 95vw;
    }
}